body {
    font-family: Verdana;
    background-color: rgb(238, 238, 238);
}

div {
    border: 5px solid rgb(0, 0, 0);
    width:30%;
    background-color: orange;
    padding:1em;
    border-radius: 2em;
    color: white;
    margin-bottom: 1em;
}

#div-1 {
    background-color: antiquewhite;
    color: brown
}

#div-2 {
    background-color: azure;
    color: red;
}

.test {
    background-color: blue;
    color: white;
}